<form action="/products/{{id}}" method="post">
  <label for="id" >Id</label>
  <input type="text" name="id" value="{{id}}" >
  <br>
  <label for="name">Name</label>
  <input type="text" name="name" value={{name}}>
  <br>
  <label for="price" >Price</label>
  <input type="text" price="id" value="{{price}}" >
  <br>
  <label for="inventory" >Inventory</label>
  <input type="text" name="inventory" value="{{inventory}}" >
  <br>
  <br>

  <input type="hidden" name="_method" value="PUT">
  <input type="submit" value="Edit Product">
</form>